@charset "utf-8";
/* CSS Document */

body {
  position: relative;
}

.carousel {
	padding-top: 60px;
}

.carousel-item {
	min-height: 600px;
	background-size: cover;
	background-position: center center;
}

.spacer	{
	padding-top: 50px;
}

.tab-pane {
	
}

.big-padding {
	padding: 100px 0;
}

.mid-padding {
	padding: 70px 0;
}

.card-header {
	border: none;
	border-radius: 0 0!important;
	padding: 0 0;
}

.card-header h5{
	display: block;
	background: #333;
	color: #fff;
	padding: 15px 20px; 
}

.card-header h5:hover{
	background: #555;
}

.mb-0 button{
	display: block;
	width: 90%;
	text-align: left;
}

.mb-0 .btn-link{
	color: #fff;
}

/*Animate*/

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.delay-1s {
  animation-delay: 1s;
}

.animated.delay-2s {
  animation-delay: 2s;
}

.animated.delay-3s {
  animation-delay: 3s;
}

.animated.delay-4s {
  animation-delay: 4s;
}

.animated.delay-5s {
  animation-delay: 5s;
}

.animated.fast {
  animation-duration: 800ms;
}

.animated.faster {
  animation-duration: 500ms;
}

.animated.slow {
  animation-duration: 2s;
}

.animated.slower {
  animation-duration: 3s;
}

@media (prefers-reduced-motion) {
  .animated {
    animation: unset !important;
    transition: none !important;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

.footer {
	min-height: 400px;
	background-color: #333;
}